.content{
    display:none;
}
.active-content{
    display:block;
}

.tabs{
    transition:0.5s;
    font-size:16px;
}
.active-tabs.tabs{
    background-color:#F46957;
    color:#fff;
}

.head-tab{
    position: relative;
}